PhanTichThietKe/Part2/WCF/WCF/CodeMinhHoa/03_OneWay/ClientTestOneWay/Service References/StockService/StockService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://tempuri.org/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="StockService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8000/EssentialWCF?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8000/EssentialWCF?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IStockService_DoBigAnalysisFast_InputMessage">
    <wsdl:part name="parameters" element="tns:DoBigAnalysisFast" />
  </wsdl:message>
  <wsdl:message name="IStockService_DoBigAnalysisSlow_InputMessage">
    <wsdl:part name="parameters" element="tns:DoBigAnalysisSlow" />
  </wsdl:message>
  <wsdl:message name="IStockService_DoBigAnalysisSlow_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoBigAnalysisSlowResponse" />
  </wsdl:message>
  <wsdl:portType name="IStockService">
    <wsdl:operation name="DoBigAnalysisFast">
      <wsdl:input wsaw:Action="http://tempuri.org/IStockService/DoBigAnalysisFast" message="tns:IStockService_DoBigAnalysisFast_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DoBigAnalysisSlow">
      <wsdl:input wsaw:Action="http://tempuri.org/IStockService/DoBigAnalysisSlow" message="tns:IStockService_DoBigAnalysisSlow_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStockService/DoBigAnalysisSlowResponse" message="tns:IStockService_DoBigAnalysisSlow_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IStockService" type="tns:IStockService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoBigAnalysisFast">
      <soap:operation soapAction="http://tempuri.org/IStockService/DoBigAnalysisFast" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="DoBigAnalysisSlow">
      <soap:operation soapAction="http://tempuri.org/IStockService/DoBigAnalysisSlow" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StockService">
    <wsdl:port name="BasicHttpBinding_IStockService" binding="tns:BasicHttpBinding_IStockService">
      <soap:address location="http://localhost:8000/EssentialWCF" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>