PhanTichThietKe/Part2/WCF/WCF/CodeMinhHoa/04_Asynchronous/Client/Service References/MathServer/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="AddSlow">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="A" type="xs:int" />
        <xs:element minOccurs="0" name="B" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSlowResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddSlowResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddFast">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="A" type="xs:int" />
        <xs:element minOccurs="0" name="B" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddFastResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddFastResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>